---
import { getUrl } from '../../lib/routes';

const { lang, content } = Astro.props;
---

<section class="section_binit_01 banner_main" style="background-image: url('/img/binit-strategy/img-01.png');">
  <div class="banner__content content-text">
    <h1 set:html={content.main_banner.heading}></h1>
    <h2 set:html={content.main_banner.subtitle}></h2>
    <a href={getUrl('contact', lang)} class="banner__button btn_orange">{content.main_banner.buttonText}</a>
  </div>
</section>


<section class="section_binit_02">
  <h2 set:html={content.binit_ai.heading} class="gradient-text"></h2>
  <div class="content-strategy">
    <img src="/img/binit-strategy/binit_arrow.gif" title="binit ai gif" class="binit_gift">
    <div class="content-text">
      <p set:html={content.binit_ai.intro_0}></p>
      <p set:html={content.binit_ai.intro_1}></p>
      <p set:html={content.binit_ai.intro_2}></p>
    </div>
    <img id="binit_gift_02" src="/img/binit-strategy/binit_arrow.gif" title="binit ai gif" class="binit_gift">
  </div>
  <div class="content-item">
    {content.binit_ai.items.map((item: { title: string; content: string }, index : number) => (
      <>
        <div class="item">
          <h3>{item.title}</h3>
          <p>{item.content}</p>
        </div>

        {index < content.binit_ai.items.length - 1 && (
          <span class="line"></span>
        )}
      </>
    ))}
  </div>
</section>

<section class="section_binit_03">
  <h2 set:html={content.integration_ai.heading}> </h2>
  <p set:html={content.integration_ai.content} class="subtitle"></p>

  <div class="content-item">
    {content.integration_ai.items.map((item: { icon: string; title: string; content: string }) => (
      <div class="item">
        <h3>{item.title}  <img class="carousel-img" src={`/img/binit-strategy/icons/${item.icon}.svg`} alt={item.title} /></h3>
        <p>{item.content}</p>
      </div>
    ))}
  </div>
</section>

<section class="section_binit_04">
  <h2 set:html={content.idea.heading}> </h2>
  <p set:html={content.idea.content} class="subtitle"></p>

  <img class="carousel-img hide-mobile" src={`/img/binit-strategy/${content.idea.icon}.svg`} alt="linea de tiempo" />
  <img class="carousel-img show-mobile" src={`/img/binit-strategy/${content.idea.icon}_mobile.svg`} alt="linea de tiempo" />
  <a href={getUrl('contact', lang)} class="banner__button btn_orange">{content.idea.buttonText}</a>
</section>

<section class="section_binit_05">
  <div class="content">
    <h2 set:html={content.serenity_star.heading}> </h2>
    <p set:html={content.serenity_star.content}></p>

    <a href={getUrl('contact', lang)} class="banner__button btn_orange">{content.serenity_star.buttonText}</a>
  </div>
  <div class="content-image">
    <img class="serenity-img" src={`/img/binit-strategy/img-02.png`} alt="linea de tiempo" />
  </div>
</section>