---
const { lang, content } = Astro.props;
---

<section class="section_career_01 banner_main" style="background-image: url('/img/career/img-01.png');">
  <div class="banner__content content-text">
    <h1 set:html={content.main_banner.heading}></h1>
    <h2 set:html={content.main_banner.subtitle}></h2>
  </div>
</section>

<section class="section_career_02">
  <h2 set:html={content.why_work.heading}> </h2>
  <p set:html={content.why_work.content} class="subtitle"></p>

  <div class="content-item">
    {content.why_work.items.map((item: { icon: string; title: string; content: string }, index: number) => (
      <div class="item">
        <img class={`icon-img-0${index}`} src={`/img/career/${item.icon}.svg`} alt={item.title} />
        <h3>{item.title}</h3>
        <p>{item.content}</p>
      </div>
    ))}
  </div>
  <div class="content-join-us">
    <img src={`/img/career/${content.join_us.icon}.svg`} >
    <p set:html={content.join_us.content} ></p>
  </div>
</section>