---
import { getUrl } from '../../lib/routes';

const { lang, content } = Astro.props;
---

<section class="section_case_01 banner_main" style="background-image: url('/img/case-studies/img-01.png');">
  <div class="banner__content content-text">
    <h1 set:html={content.main_banner.heading}></h1>
    <h2 set:html={content.main_banner.subtitle}></h2>
  </div>
</section>

<section id="casos-de-exito" class="section_case_02" >
  <ul class="tabs">
    {content.cases.map((caso: { heading: string; hash: string; }) => (
      <li><a href={`#${caso.hash}`} class="tab-link">{caso.heading}</a></li>
    ))}
  </ul>

{content.cases.map((caso: { heading: string; hash: string; items: { logo: string; 'logo-title': string; title: string; content: string; flags: string[]; } []; }) => (
  <div id={`${caso.hash}`} class="tab-content">
    <div class={`items grid-items-${caso.items.length}`}>
      {caso.items.map((item: { logo: string; 'logo-title': string; title: string; content: string; flags: string[]   }) => (
        <div class="item">
          <img class="logo" src={`/img/case-studies/logos/${item.logo}.png`} alt={item["logo-title"]} width="auto" height="80"/>
          <h3>{item.title}</h3>
          <p>{item.content}</p>
          <div class="flags">
            {item.flags.map(flag => (
              <img src={`/img/flags/${flag}.svg`} alt={flag} width="24" />
            ))}
          </div>
        </div>
      ))}
    </div>
  </div>
))}

  <div class="box_case_03">
    <a href={getUrl('contact', lang)} class="btn_case btn_orange">{content.footer_page.buttonText}</a>  
  </div>
</section>
