---
import { languages, type Lang } from '../lib/i18n';
import { getContent } from '../lib/lang';

const { lang } = Astro.props as { lang: Lang;  };
const content = await getContent(lang as Lang, 'footer');
---

<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <a href="/">
                <img src="/img/footer/logo-binit.svg" alt="Binit" width="255" height="106"/>
            </a>
        </div>
  
        <div class="footer-partners">
            <h3>{content.partners.heading}</h3>
            <ul class="footer__nav-list">
                {content.partners.items.map((item: { icon: string; title: string}) => (
                    <li><img src={`/img/footer/${item.icon}.png`}   alt={item.title} /></li>
                ))}
            </ul>
        </div>
  
        <div class="footer-info">
            <p>sales@binit.tech</p>
            <p>info@binit.tech</p>
            <a href="https://www.linkedin.com/company/binit-tech/" target="_blank" title="Binit Tech Linkedin">
                LinkedIn
            </a>
        </div>
    </div>
  
    <div class="footer-bottom">
        <p>{content.text_bottom.binit} <a href="https://subgen.ai/" target="_blank" title="SubgenAI" class="decoration">SubgenAI</a></p>
        <p>{content.text_bottom.binit_derechos}
            {content.text_bottom.items.map((item: { link: string; title: string} , index: number) => (
             <> 
                <a href={item.link} target="_blank" title={item.title}>{item.title}</a>  
                {index < content.text_bottom.items.length - 1 && ' | '}
             </>
            ))}
    </div>
  </footer>  