---
export interface Props {
  title: string;
  description: string;
  keywords: string;
  url?: string;
  image?: string;
}

const {
  title,
  description,
  keywords,
  url = "https://binit.tech/",
  image = "/default-og.jpg"
} = Astro.props;
---

<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content={keywords}>
<meta name="robots" content="index, follow" />
<link rel="canonical" href={url} />

<!-- Open Graph -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />
<meta property="og:url" content={url} />
<meta property="og:type" content="website" />

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />
