---
import '../styles/global.scss';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { lang, pageName } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <slot name="head" />

    <link rel="icon" href="/img/favicon-binit.webp" type="image/webp">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Sacar las que no use el disenio al final -->
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap" rel="stylesheet">

    <!--Carousel -->
    <link rel="stylesheet" href="/styles/splide.min.css" />
  </head>
  <body class={`page-${pageName}`}>
    <Header lang={lang} currentPath={Astro.url.pathname} />
    <main>
      <div>
        <slot />
      </div>
    </main>

    <Footer lang={lang} />
  </body>
  <script src="/js/splide.min.js" is:inline></script>
  <script src="/js/script.js" is:inline defer></script> <!--Solo cargar en la home? -->
</html>
